@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Start Header*/
.main-header {
    padding: 0 15px;
    position: sticky;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
}

.main-header .row{
    justify-content: space-between;
    row-gap: 25px;
    align-items: center;
}

.ul-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    list-style: none;
}

.li-header a{
    text-decoration: none;
    color: #313131;
    font-family: "Poppins" , "sans-serif";
    font-size: 18px;
    font-weight: 400;
}

.active a:hover{
    font-weight: 500;
    color: #9B9A78;
}

.header-links{
    display: flex;
    gap: 32px;
}

.haeder-link-1{
    display: inline-block;
    text-decoration: none;
    min-width: 56px;
    padding: 8px;
    color: #9B9A78;
    text-align: center;
    font-family: "Nunito Sans" , "sans-serif";
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
}

.haeder-link-2{
    display: inline-block;
    text-decoration: none;
    min-width: 149px;
    padding: 8px;
    color: #FFF;
    text-align: center;
    font-family: "Poppins" , "sans-serif";
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #9B9A78;
    background: #9B9A78;
    border-radius: 2px;
}

.haeder-link-1:hover{
    transform: scale(1);
    transition: all linear 0.3s;
    background: #9B9A78;
    color: #FFF;
}

.haeder-link-2:hover{
    transform: scale(1);
    transition: all linear 0.3s;
    background: #FFF;
    color: #9B9A78;
}

.menu{
    width: 48px;
    height: 48px;
    background: transparent;
    border: 0;
    display: none;
}


@media(max-width:984px){
    nav{display: none;}
    .menu{display: block;}
}


@media(max-width:602.40px){
    .header-links{display: none;}
    .icon{display: none;}
}
/*End Header*/

/*Start Hero Section*/
.hero-section{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

.hero-img{
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.hero-img img{
    min-width: 100%;
    height: 100%;
    display: block;
}

.hero-heading{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #9B9A78;
    max-width: 772px;
    min-height: 459px;
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.hero-heading h1{
    color:#313131;
    font-family: "Playfair Display", "sans-serif";
    font-size: 56px;
    font-weight: 700;
}

.hero-heading p{
    color:#FFF;
    font-family: "Poppins", "sans-serif";
    font-size: 24px;
    font-weight: 400;
}

.hero-ul{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    list-style: none;
    gap: 32px;
}

.hero-li{
    min-width: 207px;
}

.hero-li .options{
    text-decoration: none;
}

.options{
    display: flex;
    gap: 10px;
}

.options span{
    color: #313131;
    font-family: "Poppins", "sans-serif";
    font-size: 18px;
    font-weight: 400;

}


@media(max-width:1036px){
    .hero-section .row{
        justify-content: center; 
        flex-direction: column;}

    .hero-img{display: none;}
    .hero-heading{justify-content: center;}
    .hero-heading{
        margin-left: auto;
        margin-right: auto; }

    .hero-heading h1 , .hero-heading p{text-align: center;}
    .col-6{width: 100%;}
}

@media(max-width:536px){
    .hero-heading h1{font-weight: 200;}
}
/*End Hero Section*/

/*Start Number Section*/
.number-section{
    padding: 50px 15px;
}

.number-ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}

.number-li{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
}


.number-li:hover{
    margin-top: 20px;
    transition: all linear 0.3s;
    box-shadow: 5px 5px #313131;
    border-radius: 8px;
}

.number-li h2{
    color: #313131;
    font-family: "Poppins", "sans-serif";
    font-size: 24px;
    font-weight: 500;
}

.number-li p{
    color: #909090;
    font-family: "Poppins", "sans-serif";
    font-size: 18px;
    font-weight: 400;
}
/*End Number Section*/
